.nav__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav__item {
    margin-right: 55px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        border: 3px $blue-color;
        border-style: none none solid none;
    }

    cursor: pointer;
}

.nav__link {
    &:hover {
        font-weight: 700;
    }
}
