.service {
    background-image: url('./images/content/backpack.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 500px auto ;
    padding-top: 150px;
    padding-bottom: 85px;
}

.service__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__desc {
    width: 60%;

    p {
        margin-top: 60px;
        opacity: .4;
    }
}