.works {
    padding-top: 85px;
    padding-bottom: 215px;
    clip-path: polygon(0% 0%, 0% 95%, 50% 100%, 100% 95%, 100% 0%);
}

.works__title{
    font-size: 36px;
    font-weight: 800;
}

.works__text {
    margin-top: 50px;
}

.works__desc-text {
    margin-top: 50px;

    p{
        opacity: .4;
    }
}