.feedbacks-slider
  .feedbacks-slider__header
    h2.feedbacks-slider__title Что обо мне говорят
    .feedbacks__control
      button.feedbacks-slider__button.feedbacks-slider__button--prev
        +icon('arrow-down', 'feedbacks-slider__button-arrow')
      button.feedbacks-slider__button.feedbacks-slider__button--next
        +icon('arrow-down', 'feedbacks-slider__button-arrow')
  ul.feedbacks-slider__list
    -
      var feedbacks = [
          {
            "name": "Ковальчук Дмитрий",
            "occupation": "Основатель Loftschool",
            "feedback": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
            "picture": "dmitry.jpg"
          },
          {
            "name": "Владимир Сабанцев",
            "occupation": "Преподаватель",
            "feedback": "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
            "picture": "vladimir.jpg"
          }
      ]

    each feedback in feedbacks
      li.feedbacks-slider__item
        .feedback
          +icon('quote', 'feedback__pic')
          .feedback__content
            p.feedback__desc #{feedback.feedback}
            .feedback__user
              .feedback__img-wrapper
                +image(`content/${feedback.picture}`, 'user__img', 'фото пользователя')
              .feedback__details
                .feedback__name #{feedback.name}
                .feedback__job #{feedback.occupation}